.capacity{
    padding:30px;
}
.capacity-item{}
.capacity-item .item-left{
    float: left;
    width:80px;
    font:12px/12px 'Microsoft Yahei';
    color:#333;
}
.capacity-item .item-left .item-end{
    opacity: 0.5;
    margin-top:50px;
}
.capacity-item .item-con{
    margin-left: 80px;
    position: relative;
}
.capacity-item .item-con .item-bar{
    height:76px;
    width:3px;
    background: #3bc0f1;
    position: relative;
    position: absolute;
    left: -1px;
    top: 0;
}
.capacity-item .item-con .item-bar .item-bar-circal{
    background: #fff;
    border:3px solid #3bc0f1;
    position: absolute;
    left:-3px;
    width:9px;
    height:9px;
    border-radius: 50%;
}
.capacity-item .item-con .item-bar .item-bar-start{
    top:-1px;
}
.capacity-item .item-con .item-bar .item-bar-end{
    bottom:-1px;
}
.capacity-item .item-con .item-table{
    margin-left:30px;
    position: relative;
}
.capacity-item .item-con .item-table table{
    width:100%;
    table-layout: fixed;
    border-left:3px solid #3bc0f1;
}
.capacity-item .item-con .item-table table th{
    background: #fcfcfc;
}
.capacity-item .item-con .item-table .stone{
    border:6px solid #fff;
    border-right:6px solid #3bc0f1;
    position: absolute;
    top:50%;
    margin-top:-6px;
    left:-12px;
}
.capacity-item .item-con .item-table table th,
.capacity-item .item-con .item-table table td{
    border: 1px solid #e5e5e5;
    height:37px;
    line-height: 37px;
    color:#666;
    text-align: center;
    padding:0;
}
.capacity-item .item-con .item-table table td.act a{
    color:#3bc0f1;
}
.capacity-item .item-con .item-table table td.act .arrows{
    border-bottom:8px solid #3bc0f1;
    border-right:6px solid #fff;
    border-left:6px solid #fff;
    display: inline-block;

    transition: all 0.3s;
    -moz-transition: all 0.3s;  /* Firefox 4 */
    -webkit-transition: all 0.3s;   /* Safari 和 Chrome */
    -o-transition: all 0.3s;    /* Opera */
}
.capacity-item .item-con .item-table table td.act .arrows.rotate{
    transform:rotate(180deg);
    -ms-transform:rotate(180deg);     /* IE 9 */
    -moz-transform:rotate(180deg);    /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg);  /* Opera */
}


.capacity-item .item-con .item-detail{
    padding:15px 0 30px 30px;
    border-left:1px solid #bcbfc8;
}
.capacity-item .item-con .item-detail.lastone{
    padding:0 0 0 30px;
}
.capacity-item .item-con .item-detail-con{
    background:#f0f3f8;
    border:1px solid #e5e5e5;
    color:#666;
    padding:5px 4px;

}
.capacity-item .item-con .item-detail-con .item-detail-th{
    border:1px solid #e5e5e5;
    border-right:0 none;
    height:40px;
    background: #fff;
}
.capacity-item .item-con .item-detail-con .item-detail-th li{
    float: left;
    width: 25%;
    text-align: center;
    border-right: 1px solid #e5e5e5;
    height:40px;
    line-height: 40px;
}
.capacity-item .item-con .item-detail-con .item-detail-th li.cur{

}
.capacity-item .item-con .item-detail-con .item-detail-th li span.icon{
    display: inline-block;
    width:17px;
    height:22px;
    margin-right: 3px;
    margin-top:9px;
}
.capacity-item .item-con .item-detail-con .item-detail-th li span.able-h{
    background-position: -188px -394px;
}
.capacity-item .item-con .item-detail-con .item-detail-th li span.able-m{
    background-position: -206px -394px;
}
.capacity-item .item-con .item-detail-con .item-detail-th li span.able-l{
    background-position: -224px -394px;
}
.capacity-item .item-con .item-detail-con .item-detail-tab{
    background: #fff;
    margin-top:5px;
    height:194px;
    overflow: hidden;
    border:1px solid #e5e5e5;
}
.capacity-item .item-con .item-detail-con .item-detail-tablist{
    float: left;
    width:25%;
}
.capacity-item .item-con .item-detail-con .item-detail-tablist li{
    height:39px;
    border-bottom:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    padding-left:20px;
    line-height: 40px;
    cursor: pointer;
    background: #fcfcfc;
}
.capacity-item .item-con .item-detail-con .item-detail-tablist li.cur{
    border-right:1px solid #fff;
}
.capacity-item .item-con .item-detail-con .item-detail-tabcon{
    padding:20px;
    margin-left:25%;
    line-height: 20px;
}
.capacity-item .item-con .item-detail-con .item-detail-tabcon li{
    height:154px;
    overflow: auto;
    display: none;
}
.capacity-item .item-con .item-detail-con .item-detail-tabcon li p{
    text-indent: 2em;
}
.capacity-item .item-con .item-detail-con .item-detail-tabcon li:nth-child(1){
    display: block;
}
