/**
 * @module_c_svg author:Guyang time:2015-08-06
 */

.m-c-con-mid-b .line {
    fill: none;
    stroke: #FF923D;
    stroke-width: 1;
}

.m-c-con-mid-b .dot {
    fill: #FFF;
    stroke: #FF923D;
}
.m-c-con-mid-b .dot:hover {
    fill: #FF923D;
}
.m-c-con-mid-b .area {
    stroke: none;
    fill: #FF923D;
    fill-opacity: .2;
}

.sunny .m-c-con-mid-b .line {
    fill: none;
    stroke: #FF923D;
    stroke-width: 1;
}

.sunny .m-c-con-mid-b .dot {
    fill: #FFF;
    stroke: #FF923D;
}
.sunny .m-c-con-mid-b .dot:hover {
    fill: #FF923D;
}
.sunny .m-c-con-mid-b .area {
    stroke: none;
    fill: #FF923D;
    fill-opacity: .2;
}

.rain .m-c-con-mid-b .line {
    fill: none;
    stroke: #4BB8B8;
    stroke-width: 1;
}

.rain .m-c-con-mid-b .dot {
    fill: #FFF;
    stroke: #4BB8B8;
}
.rain .m-c-con-mid-b .dot:hover {
    fill: #4BB8B8;
}

.rain .m-c-con-mid-b .area {
    stroke: none;
    fill: #4BB8B8;
    fill-opacity: .2;
}
.indicate-tooltip {
    position: absolute;
    width:40px;
    padding: 2px;
    height: auto;
    background-color: #333;
    color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
    text-align: center;
}
.indicate-tooltip.hidden {
    display: none;
}

.sunny .m-c-con-mid-b .hoverCircle {
    stroke: #FF923D;
    fill: #FF923D;
}

.rain .m-c-con-mid-b .hoverCircle {
    fill: #4BB8B8;
    stroke: #4BB8B8;
}
.sunny .m-c-con-mid-b .hoverCircleBg {
    stroke: #FF923D;
    fill: #FF923D;
    opacity: 0.2;
}

.rain .m-c-con-mid-b .hoverCircleBg {
    fill: #4BB8B8;
    stroke: #4BB8B8;
    opacity: 0.2;
}
.sunny .m-c-con-mid-b .hoverLine {
    fill: none;
    stroke: #FF923D;
    stroke-width: 1;
    opacity: 0.6;
}

.rain .m-c-con-mid-b .hoverLine {
    fill: none;
    stroke: #4BB8B8;
    stroke-width: 1;
    opacity: 0.6;
}